.card {
  width: 270px;
  height: 387px;
  position: relative;
}

.icons {
  opacity: 0;
  transition: opacity 0.5s;
}

.card:hover .icons {
  opacity: 1;
}

.container {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 10px;
  flex-flow: row wrap;;
  margin-right: 8vw;
}

.page {
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 2px 10px;
  cursor: pointer;
}

.page:hover {
  background-color: var(--primary);
  color: var(--white);
}

.active {
  border-radius: 20px;
  background-color: var(--primary);
  color: var(--white);
}

.active-page {
  background-color: var(--primary);
  color: var(--white);
}
