.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 570px;
  height: 249px;
  padding-top: 28px;
  padding-left: 24px;
  position: relative;
}

.card_first {
  background-image: url(./pic/first.png);
}

.card_second {
  background-image: url(./pic/second.png);
}
@media (max-width: 600px) {
  .card {
    width: 100%;
  }

}
