.sort {
    position: absolute;
    top: -50px;
    right: 17.5rex;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.sorted {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}

.active {
    color: var(--primary);
    font-weight: bold;
}

.sortIcon {
    display: none;
    fill: var(--primary);
}

.active .sortIcon {
    display: block;
    margin-right: 8px;
}