.primary {
  color: var(--primary);
  transition: opacity 0.3s;
}

.primary:hover {
  opacity: 0.6;
}

.ghost {
  color: var(--grey-light);
  transition: all 0.5s;
}

.ghost:hover {
  color: var(--primary);
  opacity: 1;
}
