.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: var(--primary);
  color: white;
}

.description {
  padding-left: 153px;
  font-size: 16px;
  line-height: 20px;
}

.auth {
  display: flex;
  gap: 10px;
  margin-right: 153px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.link:hover {
  transition: all 0.2s;
  color: grey;
}

@media (width <= 1050px) {
  .description {
    display: none;
  }
}

@media (width <= 710px) {
  .header {
    display: flex;
    justify-content: center;
  }

  .description {
    display: none;
  }
}
