.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 19px;
    margin-top: 70px;
}

.offer_main {
    background-image: url(./pic/Modern_Furniture_Collections.png);
    width: 41.87rem;
}

.offer {
    display: flex;
    flex-direction: column;
    padding: 49px 0 0 31px;
    gap: 13px;
    min-width: 480px;
}

.bookcase {
    background-image: url(./pic/Geometric_Bookcase.png);
}

.sofa {
    background-image: url(./pic/Minimal_Sofa_collections.png);
}

.primary {
    color: var(--primary);
}

.span {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--grey);
}

@media (max-width: 1170px) {
    .offers {
        flex-direction: column;
        margin-top: 30px;
    }

    .offer_main {
        width: 100%;
    }

    .offer {
        padding: 20px 0 20px 10px;
    }
}

@media (max-width: 450px) {
    .offers {
        width: 100%;
    }
    .offer {
        width: 100%;
        min-width: 0;
        gap: 8px;
    }
}