@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7AC751;
  --primary-hover: #93c973;
  --black: black;
  --white: white;
  --beige: #F8FAFB;
  --grey: #555555;
  --grey-light: #888181;
  --blue: #00b7f1;
  --red: #ff6868;
}

html,
body {
  margin: auto;
}
