@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7ac751;
  --primary-hover: #66a046;
  --black: black;
  --white: white;
  --beige: #F8FAFB;
  --grey: #555555;
  --grey-light: #e3e3e3;
  --blue: #00b7f1;
  --red: #ff6868;
}

html,
body {
  overflow-x: hidden;
  margin: auto;
  width: 80vw;
  max-width: 1440px;
  min-width: 900px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
