.lists {
	display: flex;
	flex-wrap: wrap;
	gap: 80px;
}

.list {
	display: flex;
	flex-direction: column;
}

.item {
	list-style: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 40px;
}

.item_bold {
	font-weight: 700;
}