.top {
  margin: 0 8vw 50px 8vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.p {
  width: 318px;
}