.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1faff;
  padding: 30px 52px;
  width: 47vw;
  min-width: 500px;
  margin-top: 11px;
  margin-left: 408px;
  margin-right: auto;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header {
  width: 318px;
  margin-top: 6px;
  color: var(--black);
}

.line {
  position: absolute;
  z-index: 5;
  top: 115px;
  right: 10px;
}

.p {
  font-size: 22px;
  line-height: 26px;
  color: var(--primary);
}

.furnitureSVG {
  z-index: 0;
  position: absolute;
  left: 52%;
}

@media (max-width: 1050px) {
  .hero {
    margin: 11px auto 0;
    width: 70vw;
  }

  .furnitureSVG {
    left: 36%;
  }
}

@media (max-width: 530px) {
  .hero {
   display: none;
  }
}