.card {
  padding-top: 15.55rem;
  padding-left: 2.88rem;
  width: 35.56rem;
  height: 28.43rem;
}

.furniture {
  background-image: url("../../../../../public/blogs/furniture.png");
}

.table {
  background-image: url("../../../../../public/blogs/table.png");
}

.bench {
  background-image: url("../../../../../public/blogs/bench.png");
}

.chair {
  background-image: url("../../../../../public/blogs/chair.png");
}
