.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px 5vw;
  margin-top: 50px;
}

.header {
	cursor: pointer;
}

.primary {
  color: var(--primary);
  transition: opacity 0.3s;
}

.primary:hover {
  opacity: 0.6;
}

.ghost {
  color: var(--grey-light);
  transition: all 0.5s;
}

.ghost:hover {
  color: var(--primary);
  opacity: 1;
}

@media (max-width: 600px) {
  .header {
    font-size: 16px;
  }
}