.slider {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.slide {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 320px;
    padding: 10px 20px;
    height: auto;
    background-color: var(--beige);
    border-radius: 15px;
}

.title {
    margin-top: 18px;
}

.paragraph {
    width: 90%;
    text-align: center;
}

.arrow_span {
    width: 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow_span svg {
    transition: fill 0.5s;
}

.arrow_span:hover svg {
    fill: var(--primary);
}

@media (max-width: 600px) {
    .slider {
        width: 100%;
    }
    .slide {
        font-size: 15px;
        width: 100%;
        padding: 10px;
    }
    .arrow_span {
        display: none;
    }
}