.list {
  position: absolute;
  top: 92px;
  right: 7px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icon {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 38px;
  height: 38px;
  background-color: var(--white);
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.4s;
}

.icon:hover {
  opacity: 0.9;
  background-color: var(--primary);
}
