.status {
  position: absolute;
  z-index: 5;

  color: var(--white);
  font-size: 12px;
  line-height: 15.6px;
  font-weight: 600;
  padding: 4px 9px;
}

.status_left {
  top: 0;
  left: 0;
  border-radius: 0 0 5px 0;
}

.status_right {
  top: 0;
  right: 0;
  border-radius: 0 0 0 5px;
}

.status_sale {
  background-color: var(--primary);
}

.status_new {
  background-color: var(--blue);
}

.status_red {
  background-color: var(--red);
}
