.section {
  display: flex;
  margin-top: 25px;
}

.nav_block {
  padding-left: 7.1vw;
  background-color: #f7f8fa;
  display: flex;
  flex-direction: row;
  height: 67px;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  padding-left: 3.3vw;
}

.item {
  color: var(--grey);
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1rem;
}

