.section {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 100%;
}

.nav_block {
  padding-left: 8.44rem;
  background-color: #f7f8fa;
  display: flex;
  flex-direction: row;
  height: 67px;
  width: 100%;
}

.paragraph {
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18.96px;
  padding-top: 5px;
}

.content_block {
  margin: 0 135px;
  display: flex;
  flex-direction: row;
  gap: 11px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  padding-left: 4rem;
}

.item {
  color: var(--grey);
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1rem;
}
