.menu {
  position: relative;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  width: 260px;
  gap: 20px;
  height: 67px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.paragraph {
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  padding-top: 2px;
}

.list {
  position: absolute;
  top: 70px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  width: 260px;
}

.list_visible {
  visibility: visible;
}

.list_hidden {
  visibility: hidden;
}

.list_item {
  list-style: none;
  height: 44px;
  padding: 14px 0 14px 35px;

  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.59px;
}

@media (max-width: 1023px) {
  .menu {
    display: none;
  }
}