.menu {
  position: relative;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  width: 260px;
  gap: 20px;
  height: 67px;
  align-items: center;
  justify-content: center;
}

.paragraph {
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  padding-top: 2px;
}

.list {
  position: absolute;
  top: 67px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  width: 260px;
}
.list_hidden {
  visibility: hidden;
}

.list_item {
  list-style: none;
  border-bottom: 1px solid var(--grey-light);
  height: 44px;
  padding: 14px 0 14px 35px;

  color: var(--grey);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.59px;
}

.list_item:last-child {
  border: none;
}

@media (max-width: 1050px) {
  .list {
    display: none;
  }
}

@media (max-width: 720px) {
  .menu {
    width: 67px;
  }
  .paragraph, .list {
    display: none;
  }
}