.bottom {
  height: 82px;
  margin: 0 153px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.list_item {
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}